@model nerdtime.Models.Game

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categories.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoverIByteData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoverIByteData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Video)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Video)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Synopsis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Launch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Launch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gamers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gamers)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
